h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 200px;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #ff8800;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #833000;
}

input[type="text"] {
    display: block;
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px 0 10px;
}

#avatarContainer {
    position: absolute;
    top: 640px;
    left: 790px;
    transform: translateX(-60%); 
    margin-top: 20px;
}

#imgAvatar {
    width: 210px;
    height: 250px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#movimentoContainer{
    position: absolute;
    top: 550px;
    left: 150px;
    transform: translateX(-60%); 
    margin-top: 20px;
}

#aparenciaContainer{
    position: absolute;
    top: 550px;
    left: 450px;
    transform: translateX(-60%); 
    margin-top: 20px;
}

#somContainer{
    position: absolute;
    top: 550px;
    left: 750px;
    transform: translateX(-60%); 
    margin-top: 20px;
}

#containerMovimento{
    position: absolute;
    top: 550px;
    left: 139px;
    transform: translateX(-60%); 
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: large;
}

#containerAparencia{
    position: absolute;
    top: 550px;
    left: 439px;
    transform: translateX(-60%); 
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: large;
}

#containerSom{
    position: absolute;
    top: 550px;
    left: 737px;
    transform: translateX(-60%); 
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: large;
}
